<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
           id="com.tiltandco.copyfromassets"
      version="2.0.1"
      xmlns:android="http://schemas.android.com/apk/res/android"
      >
    <name>CopyFromAssets</name>
    <description>Copy a file Assets to the external file directory</description>
    <license>MIT</license>
    <keywords>cordova,asset2sd,gkcgautam</keywords>

    <js-module src="www/copyfromassets.js" name="CopyFromAssets">
        <clobbers target="CopyFromAssets" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="CopyFromAssets" >
                <param name="android-package" value="com.tiltandco.copyfromassets.CopyFromAssets"/>
            </feature>
        </config-file>
        <source-file src="src/android/CopyFromAssets.java" target-dir="src/com/tiltandco/copyfromassets" />
    </platform>
    <config-file target="AndroidManifest.xml" parent="/manifest">
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    </config-file>
</plugin>
